@model ViewsDemonstration_3.Models.Employee

<p>
    <label>Controller Name : <b>@ViewBag.ControllerName</b></label>
</p>
<p>
    <label>Employee Name : <b>@Model.Name</b></label>
</p>

<p>
    <label>Employee Location : <b>@Model.Location</b></label>
</p>
<p>
    <label>Employee Salary : <b>@Model.Salary</b></label>
</p>
